body {
    background-color: #1c1c1c;
    color: #fff;
}
.table, .table th, .table td {
    color: #fff;
}
.navbar, .card, .btn {
    background-color: #333 !important;
    color: #fff !important;
}
